/* variables */

/*common style*/

.faq_ninja_wrapper_group {
  display: block;
  overflow: hidden;
  width: 100%;
}

.faq_ninja_wrapper_group p {
  margin: 0;
  padding: 0;
}

/*common style end*/

/*default*/

.fn_single_faq .faq_title {
  border-bottom: solid 1px #ddd;
  margin: 0 0 8px 0;
  cursor: pointer;
  padding-bottom: 10px;
  position: relative;
  padding-left: 39px;
}

.fn_single_faq .faq_title .faq_add_icon::before {
  background: none repeat scroll 0 0 #666;
  color: #fff;
  content: "+";
  height: 30px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 30px;
  line-height: 30px;
}

.fn_single_faq .faq_title .faq_minus_icon::before {
  background: none repeat scroll 0 0 #666;
  color: #fff;
  content: "-";
  height: 30px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 30px;
  line-height: 30px;
}

.fn_single_faq .faq_content {
  margin-bottom: 10px;
  display: block;
  padding-left: 30px;
  padding-bottom: 30px;
}

/*simple*/

.fn_simple_faq {
  background: #f8f8f8;
  border: solid 1px #ddd;
}

.fn_simple_faq .faq_title {
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 10px;
  cursor: pointer;
}

.fn_simple_faq .faq_title:hover {
  background: white;
}

.fn_simple_faq .faq_content {
  background: white;
  padding: 15px;
  display: block;
}

/*Simple two FAQ*/

.fn_simple_two_single {
  padding: 5px;
  border-bottom: solid 1px #ddd;
}

.fn_simple_two_single:hover {
  background: #f5f4eb;
}

.fn_simple_two_single .faq_title {
  cursor: pointer;
  margin: 0;
  padding: 7px;
  padding-bottom: 10px;
}

.fn_simple_two_single .faq_title .fn_simple_up_icon::after {
  content: "+";
  position: relative;
  float: right;
}

.fn_simple_two_single .faq_title .fn_simple_down_icon::after {
  content: "-";
  position: relative;
  float: right;
}

.fn_simple_two_single .faq_content {
  padding: 10px;
  display: block;
}

/*Simple three FAQ*/

.fn_simple_three_single {
  border-bottom: solid 1px #ddd;
  padding-bottom: 30px;
  margin: 20px;
}

.fn_simple_three_single:last-of-type {
  border-bottom: none;
}

.fn_simple_three_single .faq_three_title {
  margin: 0 0 10px 0;
}

/* grid items */

.fn_grid_faq .fn_grid_3 {
  width: 33%;
  display: block;
  float: left;
  margin-bottom: 30px;
}

.fn_grid_faq .fn_grid_3:nth-child(3n+1) {
  clear: both;
}

@media all and (max-width: 767px) {
  .fn_grid_faq .fn_grid_3 {
    width: 100%;
  }
}

.fn_grid_faq .fn_grid_2 {
  width: 50%;
  display: block;
  float: left;
  margin-bottom: 30px;
}

.fn_grid_faq .fn_grid_2:nth-child(2n+1) {
  clear: both;
}

@media all and (max-width: 767px) {
  .fn_grid_faq .fn_grid_2 {
    width: 100%;
  }
}

.fn_grid_faq .fn_grid_1 {
  width: 100%;
  display: block;
  float: none;
}

.fn_grid_faq .fn_grid_1 .faq_grid_content {
  padding-top: 20px;
  padding-right: 30px;
  line-height: 1.5em;
}

.fn_grid_faq .fn_grid {
  display: block;
  overflow: hidden;
  padding: 5px;
}

.fn_grid_faq .faq_grid_title {
  padding: 0;
  margin: 0;
}

.fn_grid_faq .faq_grid_content {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  line-height: 1.5em;
}

